.body {
  margin: 0 !important;
  padding: 0 !important;
}
.element {
  height: 1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
}

.active2 {
  font-weight: bold;
  color: blue;
}

.active3 {
  font-weight: bold;
  color: blue;
}

.active2 > span {
  border: 1px solid yellow !important;
  visibility: visible !important;
  font-weight: bold !important;
}

.active2 > div {
  border: 1px solid #1470CC !important;
  background-color: #1470CC !important;
  width: 24px !important;
  height: 24px !important;
}

.container {
  width: 600px;
  margin: 0 auto; 
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 15%;
  height: 54px;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  /* text-transform: uppercase; */
  color: #7d7d7d;
  border: 1px solid black;
}
.progressbar li:before {
  width: 10px;
  height: 10px;
  content: '';
  /* counter-increment: step; */
  line-height: 50px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  /* background-color: gray; */
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
  visibility: visible;
}
.progressbar li.active:before {
  border-color: #55b776;
  background-color: blue;
  width: 24px;
  height: 24px;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}