#single-spa-application\:\@sirius\/sales-fe {
  position: absolute;
  top: 64px;
  left: 88px;
  width: calc(100% - 88px);
  height: calc(100% - 64px);
  z-index: 10;
}
#single-spa-application\:\@sirius\/sales-fe:empty {
  display: none;
}
